<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="true">

    <bean id="springUtils" lazy-init="false" class="com.lpj.penguin.common.SpringUtil" />

    <!-- mybatis 分页拦截器 -->
    <bean id="oraclePaginationInterceptor" class="com.lpj.penguin.common.mybatis.interceptor.PaginationInterceptor">
        <property name="dialectName" value="oracle"/>
    </bean>

    <bean id="mysqlPaginationInterceptor" class="com.lpj.penguin.common.mybatis.interceptor.PaginationInterceptor">
        <property name="dialectName" value="mysql"/>
    </bean>

</beans>